<%- include("../../views/partials/user/header") %>

<!-- SweetAlert2 CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Wishlist
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" colspan="2">Product</th>
                                    <th scope="col">Price</th>                        
                                    <th scope="col">Action</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%if(wishlist.products.length>0){%>
                                    <% wishlist.products.forEach(product=> { %>
                                <tr>
                                    <td class="image product-thumbnail"><img src="/assets/login/<%=product.productId.productImages[0]%>" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="<%=product.productId.productName%>"><%=product.productId.productName%></a></h5>
                                          <%=product.productId.brand%>
                                        </p>
                                    </td>
                                    <td class="price" data-title="Price">
                                        <span>₹<%= product.productId.variants[0].salePrice %></span>
                                    </td>
                                   
                                    <td class="text-right" data-title="Cart">
                                        <button class="btn btn-sm"><a href="/productDetails?id=<%=product.productId._id%>"><i class="fi-rs-shopping-bag mr-5" ></i></a>Go to Details</button>
                                    </td>
                                    <td class="action" data-title="Remove">
                                        <a href="#" class="text-muted" onclick="removeFromWishlist('<%= product.productId._id %>')">
                                            <i class="fi-rs-trash"></i>
                                        </a>
                                    </td>
                                    
                                </tr>
                              
                                <%})%>
                                 <%}else{%>
                                <tr>
                              <td  class="text-right" data-title="Cart">
                               <p>No items Found in Wishlist</p>

                              </td>

                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include("../../views/partials/user/footer") %>



<script>

function removeFromWishlist(productId) {
    console.log("ddddddd");
    Swal.fire({
        title: "Are you sure?",
        text: "Do you want to remove this item from your wishlist?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, remove it!"
    }).then((result) => {
        if (result.isConfirmed) {
            fetch('/wishlist/remove-item', { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId }),
            })
            .then((response) => response.json())
            .then((data) => {
                if (data.success) {
                    Swal.fire("Deleted!", "Item removed from wishlist.", "success").then(() => {
                        location.reload();
                    });
                } else {
                    Swal.fire("Error", data.message || "Failed to remove item.", "error");
                }
            })
            .catch((error) => {
                console.error("Error:", error);
                Swal.fire("Error", "Something went wrong. Try again later.", "error");
            });
        }
    });
}



</script>